<h2>Log In Page</h2>

<form action="/login" method="post">
    <label id="name">Your Name:</label><br>
  	<input type="text" name="name"><br>
    <label id="password">Your Password:</label><br>
	<input type="text" name="password"><br>
  	<button id="submit" type="submit" name="submit">Submit</button><br><br>
	<a href="/signup">Or Sign Up!</a>
</form>